<section id="about_me">
  <h1 class="title about">About me</h1>

  <div id="content_about">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dolor velit, vitae repellendus ea esse est vel voluptate neque veniam nam magni
      doloribus quia expedita similique voluptatum dignissimos fugiat maiores?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dolor velit, vitae repellendus ea esse est vel voluptate neque veniam nam magni
      doloribus quia expedita similique voluptatum dignissimos fugiat maiores?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dolor velit, vitae repellendus ea esse est vel voluptate neque veniam nam magni
      doloribus quia expedita similique voluptatum dignissimos fugiat maiores? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam maxime tempora facilis accusantium quas ab at minus eius provident
      repellendus? Qui distinctio tempore delectus vero iusto magni ut autem laudantium!
    </p>
  </div>
</section>
