header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 42px;
  color: #ffff;
  background-color: #3F3F3F80;

  div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
  }
}

::ng-deep .header-btn button{
  width: 124px !important;
  height: 36px !important;

  span{
    font-size: 16px !important;
    line-height: 21.94px;
    font-weight: 500 !important;
    font-family: 'Montserrat', sans-serif;
  }

}

@media (min-width: 1080px) {
  header {
    padding: 12px 62px;
  }
}
