<section>
  <div class="main-content">
    <span>SOFTWARE DEVELOPER</span>
    <h1>Gustavo Alessandro</h1>
    <p>Lorem non convallis ligula iaculis vel. Pellentesque imperdiet, ex ac dignissim ultricies, tortor orci varius massa, non condimentum sapien magna sed mi. Morbi volutpat tristique sollicitudin. Vivamus consectetur enim eu efficitur ultricies. Ut laoreet dui id metus porttitor, sed blandit risus consectetur. Fusce convallis mi lacus, a ultricies ante ultrices sit amet. Cras ut urna eget est dictum eleifend.</p>
    <btn-primary text="Download cv"></btn-primary>
  </div>
  <main-animation></main-animation>
</section>
