.wrapper {
  padding: 0 42px;
  display: flex;
  flex-direction: column;
  background-color: #2C2C2C;
  height: 100vh;
 }

 @media (min-width: 1080px) {
    .wrapper {
      padding: 0 62px;
    }
 }
